body {
    background-size: cover; 
    background-position: center;
}

.timer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    text-shadow: black 0px 0px 50px;
    background: rgba(0, 0, 0, 0);
    transition: background 10s;
}

h1 {
    font-size: 30vw;
}

.sprint {
    position: absolute;
    left: 10px;
    font-size: 2vw;
    color: rgba(255, 255, 255, 0.7);
}

.sprint b {
    color: white;
    font-size: 3vw;
    margin-left: 5px;
}

.resting {
    background: rgba(0, 0, 0, 0.5);
    color: red;
}